
<header class="header">
    <!-- <h1 class="header__title">Simple Blog</h1> -->
</header>
<main class="main-content">
    <app-cusinefilter (cuisineSelected)="onCuisineSelected($event)" [cuisines]="cuisines"></app-cusinefilter>
    <section class="recipe-list">
        <article class="recipe-post" id="recipe-post-1" *ngFor="let recipe of filteredRecipes">
            <!-- <h1>{{recipe.recipeURL}}</h1> -->
            <iframe class="recipe-post__video" [src]="recipe.recipeURL" title="YouTube video player"></iframe>
            <div class="recipe-post__footer">
                <img src="{{recipe.picture}}" class="recipe-post__image" >
                <div>

                    <h2 class="recipe-post__title">{{recipe.title}}</h2>
                    <p class="recipe-post__desc">{{recipe.cuisine}}</p>
                </div>
                <!-- <p class="recipe-post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et velit ac ex rutrum gravida.</p> -->
            </div>
        </article>
    </section>
    <app-addrecipes [cuisines]="cuisines"></app-addrecipes>
</main>
<footer class="footer">
    <p class="footer__text">&copy; 2024 Simple Blog</p>
</footer>

