
<header class="header">
    <h1 class="header__title">Simple Blog</h1>
</header>
<main class="main-content">
    <section class="blog-list">
        <article class="blog-post" id="blog-post-1" *ngFor="let blog of recipes">
            <h1>{{blog.RecipeURL}}</h1>
            <iframe width="560" height="315" [src]="blog.RecipeURL" title="YouTube video player"></iframe>
            <!-- <img src="{{blog.Picture}}" > -->
            <h2 class="blog-post__title">Title of {{blog.Title}}</h2>
            <p class="blog-post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et velit ac ex rutrum gravida.</p>
        </article>
    </section>
</main>
<footer class="footer">
    <p class="footer__text">&copy; 2024 Simple Blog</p>
</footer>

