
<header class="header">
    <!-- <h1 class="header__title">Simple Blog</h1> -->
</header>
<main class="main-content">
    <app-cusinefilter></app-cusinefilter>
    <section class="blog-list">
        <article class="blog-post" id="blog-post-1" *ngFor="let blog of recipes">
            <!-- <h1>{{blog.RecipeURL}}</h1> -->
            <iframe class="blog-post__video" [src]="blog.RecipeURL" title="YouTube video player"></iframe>
            <div class="blog-post__footer">
                <img src="{{blog.Picture}}" class="blog-post__image" >
                <div>

                    <h2 class="blog-post__title">{{blog.Title}}</h2>
                    <p class="blog-post__desc">{{blog.Title}}</p>
                </div>
                <!-- <p class="blog-post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et velit ac ex rutrum gravida.</p> -->
            </div>
        </article>
    </section>
</main>
<footer class="footer">
    <p class="footer__text">&copy; 2024 Simple Blog</p>
</footer>

